[project]
	description = React/Redux Login implementation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tmbaradel
[access "refs/for/refs/*"]
	read = group user/tmbaradel
	push = group user/tmbaradel
	label-Code-Review = -2..+2 group user/tmbaradel
	label-Verified = -1..+1 group user/tmbaradel
	rebase = group user/tmbaradel
	removeReviewer = group user/tmbaradel
	submit = group user/tmbaradel
[access "refs/heads/*"]
	read = group user/tmbaradel
	create = group user/tmbaradel
	push = +force group user/tmbaradel
	pushMerge = group user/tmbaradel
[access "refs/tags/*"]
	push = group user/tmbaradel
	push = +force group user/tmbaradel
